{% extends "basebs.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block content %}
    {% if manifiesto %}
        <div class="row">
            <div class="col-lg-6">
                <h4>Manifiesto {{ manifiesto.id }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos del Manifiesto</div>
                    <div class="panel-body">
                        <strong>Origen:</strong> {{ manifiesto.origen }} |
                        <strong>Fecha Arribo:</strong> {{ manifiesto.fecha_arribo|date:"l d/M/Y" }} |
                        <strong>Cantidad de Bolsas:</strong> {{ manifiesto.bolsa_cantidad|intcomma }} unidad{{ manifiesto.bolsa_cantidad|pluralize:"es" }} |
                        <strong>Cantidad de Paquetes:</strong> {{ manifiesto.paquete.count|intcomma }} unidad{{ manifiesto.paquete.count|pluralize:"es" }} |
                        <strong>Peso:</strong> {{ manifiesto.bolsa_peso|floatformat:2 }} Kg. |
                        <strong>Procesado el:</strong> {{ manifiesto.created_at }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Lista de Paquetes</div>
                    <table class="table table-hover" id="tabla_paquetes">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Código </th>
                                <th class="text-center">Cliente </th>
                                <th class="text-center">Descripción </th>
                                <th class="text-center">Fecha Origen </th>
                                <th class="text-center">Peso </th>
                                <th class="text-center">Valor USD </th>
                                <th class="text-center">Tracking</th>
                                <th class="text-center">Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in manifiesto.paquete.all %}
                                <tr>
                                    <td class="text-center"><a href="{% url 'vista_paquete_editar' p.id %}" target="_blank">{{ p.id }}</a></td>
                                    <td class="text-right">{{ p.codigo|default_if_none:"0" }}</td>
                                    <td class="text-left">{{ p.user.cliente }}</td>
                                    <td class="text-left">{{ p.descripcion }}</td>
                                    <td class="text-center">{{ p.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="text-right">{{ p.peso|floatformat:2 }}</td>
                                    <td class="text-right">{{ p.valor_dolar|default_if_none:"0"|floatformat:2 }}</td>
                                    <td class="text-right">{{ p.tracking }}</td>
                                    <td class="text-center">{{ p.proveedor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.row -->
    {% else %}
        <div class="row">
            <div class="col-lg-6">
                <h3>No existo ese Manifiesto</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}