{% extends "base_lateral.html" %}

{% block content-int %}
<div class="twelve columns">
    <div class="sidebar-right"><br /><br />
        <h5 class="title">¿Quiénes Somos?</h5>
        <blockquote class="full">
            Somos una empresa de Courier y Transporte Internacional de cargas, vía marítima y aérea, que dedica toda su energía en brindar la mejor atención y servicio al cliente.<br />
            Comprendemos la importancia de todos y cada uno de los deseos de nuestros clientes, por lo que sumamos eficacia y seguridad, junto al mejor precio,
            desde el momento en el que su paquete llega a nosotros, hasta que lo entregamos en sus manos.
        </blockquote>
        <div id="nosotros-mision">
            <h3>Misión</h3>
            <p style="text-align: justify">
                Es nuestra misión poder ofrecer un servicio de envíos puerta a puerta, por medio aéreo, con precios accesibles, tiempos rápidos y total seguridad donde el cliente
                pueda confiar en nuestro servicio. Buscamos a la vez ser socios de nuestros clientes, haciéndoles parte de nuestro crecimiento comercial y abriendo las puertas a
                las sugerencias y comentarios que nos puedan hacer mejorar cada vez más.
            </p>
        </div>
        <div id="nosotros-vision">
            <h3>Visión</h3>
            <p style="text-align: justify">
                Nuestra visión es la de una empresa multinacional interconectada entre sus diferentes agencias en puntos claves del mundo ofreciendo servicio de courier,
                importación y exportación vía aérea y marítima con costos accesibles, tiempos rápidos y máxima confiabilidad para su empresa o uso particular.
            </p>
        </div>
    </div>
</div>
{% endblock %}