{% extends "base_lateral.html" %}

{% block content-int %}
<div class="twelve columns">
    <div class="sidebar-right"><br /><br />
        <h5 class="title">Nuestras Tarifas</h5>
        <p>A continuación se encuentran nuestras tarifas para el envío de paquetes desde E.E.U.U. hasta Asunción.</p>
        <div class="three columns alpha">
            <ul class="pricing">
                <li class="title">Aéreo</li>
                <li class="price">
                    <sup>$</sup>
                    <span>14</span>
                    <span class="decimal">90</span>
                    <span class="divider">/</span>
                    <span class="rate">Kilo</span>
                </li>
                <li>Mínimo <strong>10.000</strong> Gs. (*)</li>
                <li>Precio de Lanzamiento</li>
                <li>Promoción al Contado</li>
            </ul>
        </div>

         <div class="three columns">
            <ul class="pricing">
                <li class="title">Marítimo</li>
                <li class="price">
                    <sup>$</sup>
                    <span>450</span>
                    <span class="divider">/</span>
                    <span class="rate">m3</span>
                </li>
                <li>Tiempo 45 a 60 días</li>
                <li>Mínimo de <strong>75,00</strong> USD.</li>
                <li>Promoción al Contado</li>
             </ul>
        </div>

        <div class="three columns">
            <ul class="pricing">
                <li class="title">Envolvemos</li>
                <li class="price">
                    <sup>$</sup>
                    <span>1</span>
                    <span class="decimal">00</span>
                    <span class="divider">/</span>
                    <span class="rate">paquete</span>
                </li>
                <li>Envolvemos tus paquetes</li>
                <li>Vía sistema se solicita</li>
             </ul>
        </div>

        <div class="clear"></div>
        <span class="hr"></span>
        <h5 class="title">Servicio de Delivery</h5>

        <div class="three columns alpha">
            <ul class="pricing">
                <li class="title">Asunción</li>
                <li class="price">
                    <span style="font-size: 30px;">15.000</span>
                </li>
                <li>Hasta 10 Kg.</li>
            </ul>
        </div>
         <div class="three columns">
            <ul class="pricing">
                <li class="title">Gran Asunción</li>
                <li class="price">
                    <span style="font-size: 30px;">20.000</span>
                </li>
                <li>Hasta 10 Kg.</li>
            </ul>
        </div>
        <div class="three columns omega">
            <ul class="pricing">
                <li class="title">Al Interior</li>
                <li class="price">

                    <span class="rate">Consulte Precios</span>
                </li>
                <li>Tercerizado (**)</li>
             </ul>
        </div>
        <div class="clear"></div>
        <p>(*) Por Paquete.</p>
        <p>(**) Este servicio se realiza a través de la Empresa de Encomienda Nacional de su preferencia. Nosotros nos encargamos de acercar el paquete a la empresa.</p>
    </div>
</div>

{% endblock %}