{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="container">
        {% block content-int %} {% endblock %}
        <div class="four columns">
            <div class="sidebar">
                <div class="sideborder"></div>
                <h5 class="semi">Información de Contacto</h5>
                <p style="margin-left: 10px;">
                    <strong> Direcci&oacute;n:</strong> <br />
                    San Benigno 995 c/ Federación Rusa<br />
                    Asunción - Paraguay <br />
                    <strong> Tel&eacute;fono:</strong> <br />
                    +595 21 609-196<br />
                    <strong> Celular:</strong> <br />
                    +595 983 900-411<br />
                    <strong> Email:</strong> <br />
                    <a href="mailto:info@pytrade.com.py">info@pytrade.com.py</a><br />
                </p>
                <div id="map">
                    <iframe width="100%" height="120px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.py/maps?q=PyTrade&amp;hl=es&amp;sll=-25.282983,-57.576299&amp;sspn=0.016511,0.033023&amp;hq=PyTrade&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;cid=5736821408188523643&amp;ll=-25.279859,-57.571707&amp;spn=0.009313,0.008497&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                </div>
                <p style="text-align: center;"><a href="http://goo.gl/maps/RLJDm" target="_blank"><small>Ver Mapa</small></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}