{% load humanize %}
{% load i18n %}
{% load url from future %}
Estimado/a <strong>{{ cliente.first_name }} {{ cliente.last_name }}</strong>,

<p>Hemos recibido {{ datos.count }} paquete{{ datos.count|pluralize }} en nuestra <strong>Oficina de Florida</strong>. A continuación el detalle:</p>
<ol>
    {% for paquete in datos %}
        <li><strong>{{ paquete.fecha }} | {{ paquete.descripcion }} | {{ paquete.peso }} Kg. | {{ paquete.tracking }} </strong></li>
    {% endfor %}
</ol>
{% if datos_extra %}
    <h3>Otros paquetes en Florida</h3>
    <ol>
        {% for paquete in datos_extra %}
            <li><strong>{{ paquete.fecha }} | {{ paquete.descripcion }} | {{ paquete.peso }} Kg.</strong></li>
        {% endfor %}
    </ol>
{% endif %}
<h3>OBSERVACIÓN: El peso especificado puede variar</h3>
<p>Para mayor informaci&oacute;n puede contactarnos llamando a nuestras oficinas al (021) 609 196 o env&iacute;anos un mail a <a href="mailto:info@pytrade.com.py">info@pytrade.com.py</a></p>

<p>En unos días más su paquete estará listo para su retiro en nuestras oficinas de Asunción. Estaremos reportando.</p>

<p>
    ---<br />
    <img src="http://www.pytrade.com.py/media/images/logo-chico.png" alt="PyTrade S.R.L."><br />
    San Benigno 995 c/ Federaci&oacute;n Rusa<br />
    Asunci&oacute;n - Paraguay
</p>